# Homework - SQL2


## 주의사항.

- 권고사항: 모든 SQL select 문에 tuple variable를 사용할 것.
- ./loadcompany를 실행하여 DB state를 원래 상태로 만든 다음에 숙제를 한다
- Putty screenshot을 찍을 때 
    - putty를 background white, foreground black으로 설정 변경한다.
    - 반드시 상단에 **학번이 보이도록** 해야 한다. (이 부분 없으면, 0점)
    - putty의 크기를 조절하여 SQL과 답만 보이도록 한다.

- SQL 작성시, 문제에 주어지지 않은 상수를 사용하는 경우 (cheating), **마이너스 점수**를 받는다.

- self-check:
    - 답이 일치하는 경우(tuple의 순서는 중요하지 않음), "My answer is CORRECT"라고 적는다.
    - 답이 일치하지 않는 경우(tuple의 순서는 중요하지 않음), "My answer is WRONG"라고 적는다.
    - 충분히 큰 폰트 사이즈를 이용한다.

# Remove above before you submit your homework

# Homework: SQL2

```
이름:_______________________
학번:_______________________
제출일:______________________
```

### 1-13번에 대해 SQL select 문을 작성하고 MySQL에서 실행한 결과물을 제출하시오.

#### 1. Retrieve the names of employees in department 5 who work more than 10 hours per week on the 'ProductX' project. (single SELECT 사용, MySQL concat 함수 사용, Refer to MySQL manual or  Googling)

```
+------------------+
| Employee name    |
+------------------+
| John B. Smith    |
| Joyce A. English |
+------------------+
2 rows in set (0.00 sec)
```
## My answer is CORRECT


#### 2.  List the names of employees who have a dependent with the same sex as themselves. (EXISTS 사용)

```
+------------------+
| Employee name    |
+------------------+
| John B. Smith    |
| Franklin T. Wong |
+------------------+
2 rows in set (0.00 sec)
```
## My answer is CORRECT

#### 3.  Find the names of employees that are directly supervised by 'Franklin Wong'. (EXISTS 사용)

```
+-------------------+
| Employee name     |
+-------------------+
| John B. Smith     |
| Joyce A. English  |
| Ramesh K. Narayan |
+-------------------+
3 rows in set (0.00 sec)
```
## My answer is CORRECT

#### 4.  For each project, list the project name and the total hours per week (by all employees) spent on that project.

```
+-----------------+-------------+
| Project name    | Total hours |
+-----------------+-------------+
| ProductX        |        52.5 |
| ProductY        |        37.5 |
| ProductZ        |        50.0 |
| Computerization |        55.0 |
| Reorganization  |        25.0 |
| Newbenefits     |        55.0 |
+-----------------+-------------+
6 rows in set (0.00 sec)
```
## My answer is CORRECT

#### 5.  Retrieve the names of employees who work on every project managed by 'Administration' department.

```
+------------------+
| Employee name    |
+------------------+
| Ahmad V. Jabbar  |
| Alicia J. Zelaya |
+------------------+
2 rows in set (0.00 sec)
```
## My answer is CORRECT

#### 6.  Retrieve the names of employees who do not work on any project which is located in 'Houston'. (NOT EXISTS 사용)

```
+------------------+
| Employee name    |
+------------------+
| John B. Smith    |
| Joyce A. English |
| Ahmad V. Jabbar  |
| Alicia J. Zelaya |
+------------------+
4 rows in set (0.01 sec)
```
## My answer is CORRECT

#### 7.  For each department, retrieve the department name, and the average salary of employees working in that department.(소수점 이하 2자리까지만 출력, Refer to MySQL manual or  Googling)

```
+-----------------+----------------+
| Department name | Average salary |
+-----------------+----------------+
| Headquarters    |       55000.00 |
| Administration  |       31000.00 |
| Research        |       33250.00 |
+-----------------+----------------+
3 rows in set (0.00 sec)
```
## My answer is CORRECT

#### 8.  Retrieve the average salary of all female employees. (소수점 이하 2자리까지만 출력, Refer to MySQL manual or  Googling)

```
+----------------+
| Average salary |
+----------------+
|       31000.00 |
+----------------+
1 row in set (0.00 sec)
```
## My answer is CORRECT

#### 9.  Find the names and addresses of employees who work on at least one project located in Houston but whose department has no location in Houston. (EXISTS, NOT EXISTS 사용)

```
+---------------------+-------------------------+
| Employee name       | Address                 |
+---------------------+-------------------------+
| Jennifer S. Wallace | 291 Berry, Bellaire, TX |
+---------------------+-------------------------+
1 row in set (0.00 sec)
```
## My answer is CORRECT

#### 10.  List the last names of department managers who have no dependents. (EXISTS, NOT EXISTS 사용)

```
+-----------+
| Last name |
+-----------+
| Borg      |
+-----------+
1 row in set (0.00 sec)
```
## My answer is CORRECT

#### 11. Retrieve the names of all employees who work in the department that has the employee with the highest salary among all employees.

```
+---------------------+
| Employee name       |
+---------------------+
| Franklin T. Wong    |
| James E. Borg       |
| Jennifer S. Wallace |
+---------------------+
3 rows in set (0.00 sec)
```
## My answer is CORRECT

#### 12-1. Retrieve the names of all employees whose supervisor’s supervisor is James Borg. (EXISTS 안에 EXISTS 사용)

```
+-------------------+
| Employee name     |
+-------------------+
| John B. Smith     |
| Joyce A. English  |
| Ramesh K. Narayan |
| Ahmad V. Jabbar   |
| Alicia J. Zelaya  |
+-------------------+
5 rows in set (0.00 sec)
```
## My answer is CORRECT

#### 12-2. Retrieve the names of all employees whose supervisor’s supervisor is James Borg. (single SELECT 사용)

```
+-------------------+
| Employee name     |
+-------------------+
| John B. Smith     |
| Joyce A. English  |
| Ramesh K. Narayan |
| Ahmad V. Jabbar   |
| Alicia J. Zelaya  |
+-------------------+
5 rows in set (0.00 sec)
```
## My answer is CORRECT

#### 13. Retrieve the names of employees who make at least 10,000 dollars more than the employee who is paid the least in the company.

```
+---------------------+
| Employee name       |
+---------------------+
| Franklin T. Wong    |
| Ramesh K. Narayan   |
| James E. Borg       |
| Jennifer S. Wallace |
+---------------------+
4 rows in set (0.00 sec)
```
## My answer is CORRECT

### 14-17번에 대해 SQL view문을 작성하고 MySQL에서 “select * from <view_name>”을 실행한 결과물을 제출하시오.

#### 14. A view that has the department name, manager name, and manager salary for every department

```
select * from DEPT_VIEW;
+----------------+----------+-------+---------+----------+
| dname          | fname    | minit | lname   | salary   |
+----------------+----------+-------+---------+----------+
| Headquarters   | James    | E     | Borg    | 55000.00 |
| Administration | Jennifer | S     | Wallace | 43000.00 |
| Research       | Franklin | T     | Wong    | 40000.00 |
+----------------+----------+-------+---------+----------+
3 rows in set (0.00 sec)
```
## My answer is CORRECT

#### 15. A view that has the employee name, supervisor name, and employee salary for each employee who works in the ‘Research’ department

```
select * from RESEARCH_DEPT_VIEW;
+---------+--------+----------+--------+--------+----------+----------+
| elname  | eminit | efname   | slname | sminit | sfname   | esalary  |
+---------+--------+----------+--------+--------+----------+----------+
| Smith   | B      | John     | Wong   | T      | Franklin | 30000.00 |
| Wong    | T      | Franklin | Borg   | E      | James    | 40000.00 |
| English | A      | Joyce    | Wong   | T      | Franklin | 25000.00 |
| Narayan | K      | Ramesh   | Wong   | T      | Franklin | 38000.00 |
+---------+--------+----------+--------+--------+----------+----------+
4 rows in set (0.00 sec)
```
## My answer is CORRECT

#### 16. A view that has the project name, controlling department name, number of employees, and total hours worked per week on the project for each project

```
select * from PROJECT_VIEW;
+-----------------+----------------+----------+-------------+
| pname           | dname          | num_emps | total_hours |
+-----------------+----------------+----------+-------------+
| ProductX        | Research       |        2 |        52.5 |
| ProductY        | Research       |        3 |        37.5 |
| ProductZ        | Research       |        2 |        50.0 |
| Computerization | Administration |        3 |        55.0 |
| Reorganization  | Headquarters   |        3 |        25.0 |
| Newbenefits     | Administration |        3 |        55.0 |
+-----------------+----------------+----------+-------------+
6 rows in set (0.00 sec)
```
## My answer is CORRECT

#### 17. A view that has the project name, controlling department name, number of employees, and total hours worked per week on the project for each project with more than two employees working on it

```
select * from PROJECT_VIEW_GT2;
+-----------------+----------------+----------+-------------+
| pname           | dname          | num_emps | total_hours |
+-----------------+----------------+----------+-------------+
| ProductY        | Research       |        3 |        37.5 |
| Computerization | Administration |        3 |        55.0 |
| Reorganization  | Headquarters   |        3 |        25.0 |
| Newbenefits     | Administration |        3 |        55.0 |
+-----------------+----------------+----------+-------------+
4 rows in set (0.00 sec)
```
## My answer is CORRECT

#### 18. EMPLOYEE 테이블의 salary의 변경사항이 있을 때 마다, 변경사항을 기록하는 테이블 salary_audit(ssn, before_salary, after_salary, u_datetime)을 만들고, update trigger를 사용하여 변경사항을 기록하시오. 5번 부서에 속하는 직원의 salary를 100% 상향 조정 후, “select * from salary_audit”를 통해 결과를 확인하시오. udatetime에는 수정이 실행된 DATETIME(SQL Datatype, 날짜와 시각)을 기록한다. 현재 시각값은 now() 함수를 통해 얻을 수 있다.

```
select * from salary_audit;

Empty set (0.01 sec)

update EMPLOYEE set salary = 2 * salary where dno = 5;

Query OK, 4 rows affected (0.01 sec)
Rows matched: 4  Changed: 4  Warnings: 0

select * from salary_audit;
+-----------+---------------+--------------+---------------------+
| ssn       | before_salary | after_salary | u_datatime          |
+-----------+---------------+--------------+---------------------+
| 123456789 |      30000.00 |     60000.00 | 2018-10-29 22:51:51 |
| 333445555 |      40000.00 |     80000.00 | 2018-10-29 22:51:51 |
| 453453453 |      25000.00 |     50000.00 | 2018-10-29 22:51:51 |
| 666884444 |      38000.00 |     76000.00 | 2018-10-29 22:51:51 |
+-----------+---------------+--------------+---------------------+
4 rows in set (0.00 sec)
```
## My answer is CORRECT